.evbtn {
    background-color: var(--sth-br-cl);
}


.button1,
.button2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    font-size: 1.5rem;
    font-family: 'Zeitung Pro Black Italic';
    background-color: #275459;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-top: 4rem;
    margin-block-end: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    width: 300px;
  }


.button1:hover, 
.button2:hover {
  cursor: pointer;
}

.button1:hover .stretch-out,
.button2:hover .stretch-out{
  animation: stretchOut 0.6s forwards;
}
@keyframes stretchOut {
  45% {
    transform: scale(1.5, 0.7);
    border-radius: 15px;
  }
  50% {
    transform: scale(0.5, 1.3);
  }
  55% {
    transform: scale(1.3, 0.8);
  }
  60% {
    transform: scale(1, 1.2);
  }
  65% {
    transform: scale(1.1, 0.9);
  }
  70% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1.1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

