
.cards {
    display: flex;
    flex-grow: 1;
    flex-basis: 35%;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 2em;
    /* background-color: whitesmoke; */
    width: 100;
    height: 50%;
    margin: 4%;
}

.cards_berlin,
.cards_hamburg,
.cards_nairobi {
    display: flex;
    max-width: 60%;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem;
    padding: 3%;   
}

.cards_berlin h4,
.cards_hamburg h4,
.cards_nairobi h4 {
    background-color: var(--scn-fn-crl);
    color: var(--sth-br-cl);
    padding: 0.5rem;
} 



.cards_berlin {
    background-image: url(img/StadtbilderBerlin.jpg);
    max-width: fit-content;
}

.cards_hamburg {
    background-image: url("img/StadtbildHamburg.jpg");
    max-width: 100%;
}

.cards_nairobi {
    background-image: url("img/StadtbildNairobi.png");
}