
.main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  width: 100vw;
  height: 80vh;
  margin-bottom: 3%;
  }
  

  .main > * {
    display: flex;
    flex-grow: 1;
    flex-basis: 45%;
    max-width: 30rem;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
        }


.main  > * img {
    max-width: 100%;
    height: auto;
    
}


.teilnahmecta  {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-basis: 50%;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10em;
  padding: 10px;
  }

.section {
  display: grid;
  grid-template-columns: 40% 40%; 
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 3% ;
  height: 65vh;
}

.section_links{
    display: block;
    background-color: #47278c;
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

.section_links__kalender{
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 6%;
  padding-top: 4%;
}

.section_rechts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--sth-br-cl);
  color:#222;
}

.section_rechts--kalender{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--sth-br-cl);
}

.section_rechts iframe {
  width: calc(100% - 2%);  /* Nimmt etwas Platz von der Breite */
  height: calc(100% - 2%); /* Nimmt etwas Platz von der H�he */
  border: none;
}

  #erstertitel {
  grid-column: 1/span 7; /* This will make the child span across 5 columns */
  grid-row: 2 ; /* This will place the child in the second row */
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5));
  justify-content: center;
}
 

#zweitertitel {
  grid-column: 8/span 7; /* This will make the child span across 5 columns */
  grid-row: 2; /* This will place the child in the second row */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255,255,255,1));
  justify-content: center;
  color: #275459;
  justify-content: center;
}
 

#erstesBild {
  grid-column: 1/span 7; /* This will make the child span across 5 columns */
  grid-row-start: 3; /* This will place the child in the second row */
  grid-row-end:  9;
  
}

#erstesBild img {
  width: 100%; /* Das Bild wird nicht breiter als sein Container */
  height: 100%; /* Das Bild wird nicht h�her als sein Container */
}


#zweitesBild {
  grid-column-start: 8; /* This will make the child span across 5 columns */
  grid-column-end: 15;
  grid-row: 4; /* This will place the child in the second row */
  grid-row-start: 3; /* This will place the child in the second row */
  grid-row-end:  9;
  
}
#zweitesBild img {
  width: 100%; /* Das Bild wird nicht breiter als sein Container */
  height: 100%; /* Das Bild wird nicht h�her als sein Container */
}

.mainlow {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  width: 100vw;
  min-height: 80vh;
  max-height: fit-content;
  margin-bottom: 3%;
}

.mainlow > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 38%;     /* Prevents the child from growing larger than 45% */
  min-width: 30rem;
  padding: 10px;

}

.textcoffeeroastingintro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vh;
  max-height: fit-content;
  margin-bottom: 3%;
}

.textcoffeeroastingintro > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 50%;     /* Prevents the child from growing larger than 45% */
  min-width: 25rem;
  padding: 10px;
  text-align: center;
  align-self: center;
  color: var(--scn-fn-crl);
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: var(--sth-br-cl);
}

.textcoffeeroastingintro > * p {
  padding-bottom: 1em;
}

.ablauf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: auto; 
  height: 65vh;
}

.impressions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  align-items: center;
}

.impressions_seminar {
    position: relative;
    flex-grow: 1;
    flex-basis: 45%;
    max-width: 100%;     /* Prevents the child from growing larger than 45% */
    min-width: 30rem;
} 

.impressions_seminar img {
     width: 30%;
     height: 30%;
     object-fit: fill;
     }

.footer {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sth-br-cl);
  color: white;
  width: auto;
  height: 15rem;
}

.bg-watermark {
      position: absolute;
      color:  #9d8c8c;
      font-size: clamp(6rem, 1.333rem + 12.4333vw, 19rem);
      font-weight: 800;
      font-family: 'ZeitungPro-Black-_1_';
      z-index: -1;
      user-select: none;
      letter-spacing: 0.4rem;
  }
    
  .bg-watermark_space {
    position: absolute;
    color: #9d8c8c;
    font-size: clamp(6rem, 1.333rem + 18.4333vw, 18rem);
    font-weight: 800;
    font-family: 'ZeitungPro-Black-_1_';
    z-index: -1;
    user-select: none;
    letter-spacing: 0.5rem;
    width: 90vw;
    height: 40vh;
    margin-bottom: 10%;
}
.bg-watermark--third {
    color: #9d8c8c;
    font-size: clamp(6rem, 1.333rem + 14.4333vw, 14rem);
    font-weight: 800;
    font-family: 'ZeitungPro-Black-_1_';
    z-index: -1;
    user-select: none;
    letter-spacing: 0.8rem;
}



.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.items{
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item{
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(10, 62, 7);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}


#accordion {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem; 
  }

#accordion > h4 {
    background-color: #f28a2e;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    color: white;
  }
  
#accordion > section {
    border: 5px solid #000;
    padding: 10px 20px;
  
  }
  
#accordion > section{
    display: none;
  }

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

  
@media (max-width: 768px){

.grid-containereins > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 50%;     /* Prevents the child from growing larger than 45% */
  min-width: 25rem;
  padding: 10px;
  text-align: center;
  align-self: center;
  color: var(--scn-fn-crl);
 background-color: var(--sth-br-cl);
}

.grid-containereins > * p {
  font-size: 1rem;
}

.ablauf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw; 
  height: 100vh;
  font-size: 1rem; 
}

}