.main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  width: 100vw;
  height: 80vh;
  padding-bottom: 8%;
  transition: transform 0.3s ease;
  }
  

  .main > * {
    display: flex;
    flex-grow: 1;
    flex-basis: 45%;
    max-width: 30rem;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(img/TF.Bohne.png);
    margin: 4%;
    transition: transform 0.3s ease;
    cursor: pointer;
        }

  .main_childlinks:hover,
  .main_childrechts:hover {
    transform: translateY(30px) scale(1.2); 
    cursor: pointer;
  }

.main h3 {
  font-size: 2rem;
  text-align: start;
  justify-self: flex-start;
}

.main p {
  font-size: 1.2rem;
  text-align: start;
}
.main  > * img {
    max-width: 100%;
    height: auto;
    padding: 4%;
    
}


.teilnahmecta  {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-basis: 50%;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  }

/* 

.section_links{
    display: block;
    background-color: #47278c;
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

.section_links__kalender{
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 6%;
  padding-top: 4%;
}

.section_rechts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--sth-br-cl);
  color:#222;
}

.section_rechts--kalender{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--sth-br-cl);
}

.section_rechts iframe {
  width: calc(100% - 2%);  
  height: calc(100% - 2%); 
  border: none;
} */


.middle_underpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.weather {
  display: block;
  justify-content: center;
  width: 50%;
  height: 10rem;
  padding-bottom: 4rem;
  background-color: #275459;
}

.cityName {
  max-width: 40%;
}

  #erstertitel {
  grid-column: 1/span 7; /* This will make the child span across 5 columns */
  grid-row: 2 ; /* This will place the child in the second row */
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255,255,255,0.5));
  justify-content: center;
}
 

#zweitertitel {
  grid-column: 8/span 7; /* This will make the child span across 5 columns */
  grid-row: 2; /* This will place the child in the second row */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255,255,255,1));
  justify-content: center;
  color: #275459;
  justify-content: center;
}
 

#erstesBild {
  grid-column: 1/span 7; /* This will make the child span across 5 columns */
  grid-row-start: 3; /* This will place the child in the second row */
  grid-row-end:  9;
  
}

#erstesBild img {
  width: 100%; /* Das Bild wird nicht breiter als sein Container */
  height: 100%; /* Das Bild wird nicht h�her als sein Container */
}


#zweitesBild {
  grid-column-start: 8; /* This will make the child span across 5 columns */
  grid-column-end: 15;
  grid-row: 4; /* This will place the child in the second row */
  grid-row-start: 3; /* This will place the child in the second row */
  grid-row-end:  9;
  
}
#zweitesBild img {
  width: 100%; /* Das Bild wird nicht breiter als sein Container */
  height: 100%; /* Das Bild wird nicht h�her als sein Container */
}

.mainlow {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  width: 100vw;
  min-height: 80vh;
  max-height: fit-content;
  margin-bottom: 3%;
}

.mainlow > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 38%;     /* Prevents the child from growing larger than 45% */
  min-width: 30rem;
  padding: 10px;

}

.textcoffeeroastingintro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vh;
  max-height: fit-content;
  margin-bottom: 3%;
}

.textcoffeeroastingintro > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 50%;     /* Prevents the child from growing larger than 45% */
  min-width: 25rem;
  padding: 10px;
  text-align: center;
  align-self: center;
  color: var(--scn-fn-crl);
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: var(--sth-br-cl);
}

.textcoffeeroastingintro > * p {
  padding-bottom: 1em;
}

.ablauf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: auto; 
  height: 65vh;
}

.impressions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  align-items: center;
}

.impressions_seminar {
    position: relative;
    flex-grow: 1;
    flex-basis: 45%;
    max-width: 100%;     /* Prevents the child from growing larger than 45% */
    min-width: 30rem;
} 

.impressions_seminar img {
     width: 30%;
     height: 30%;
     object-fit: fill;
     }

.kontakt {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--snd-bg-clr);
  color: white;
  width: auto;
  height: 15rem;
}

.bg-watermark {
      position: absolute;
      color:  #9d8c8c;
      font-size: clamp(6rem, 1.333rem + 12.4333vw, 19rem);
      font-weight: 800;
      font-family: 'ZeitungPro-Black-_1_';
      z-index: -1;
      user-select: none;
      letter-spacing: 0.4rem;
  }
    
  .bg-watermark_space {
    position: absolute;
    color: #9d8c8c;
    font-size: clamp(6rem, 1.333rem + 18.4333vw, 18rem);
    font-weight: 800;
    font-family: 'ZeitungPro-Black-_1_';
    z-index: -1;
    user-select: none;
    letter-spacing: 0.5rem;
    width: 90vw;
    height: 40vh;
    margin-bottom: 10%;
}
.bg-watermark--third {
    color: #9d8c8c;
    font-size: clamp(6rem, 1.333rem + 14.4333vw, 14rem);
    font-weight: 800;
    font-family: 'ZeitungPro-Black-_1_';
    z-index: -1;
    user-select: none;
    letter-spacing: 0.8rem;
}




table {
  border-collapse: collapse;
  border: 2px solid rgb(10, 62, 7);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}



caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


.footer {
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sth-br-cl);
  color: white;
  width: 100%;
  min-height: 30vh;
  max-height: 80vh;
  
}

.footer > * {
  flex-grow: 1;
  flex-basis: 15%;
  justify-content: center;
  max-width: 30%; /* Prevents the child from growing larger than 45% */
  min-width: 20rem;
  text-decoration: none;
}

svg {
  width: 4rem;
  height: 4rem;
  background-color: white;
}
.footer__company {
  text-align: center;
}

.footer__company ul {
  list-style-type: none;
}

#Facebook_32 #Twitter_Circled_32 #linkedIn32_ #Instagram_32 {
  color: white;
}
  
@media (max-width: 768px){


  .main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 100vw;
    height: 180vh;
    padding-bottom: 8%;
    }
    
  
    .main > * {
      display: flex;
      position: relative;
      flex-grow: 1;
      flex-basis: 45%;
      width: 30rem;
      height: 70%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: rgba(255, 255, 255, 0.5);
      margin: 4%;
          }
  
  .main h3 {
    font-size: 2rem;
    text-align: start;
    justify-self: flex-start;
  }
  
  main p {
    font-size: 1.2rem;
    text-align: start;
  }

.textcoffeeroastingintro > * {
  flex-grow: 1;
  flex-basis: 45%;
  max-width: 50%;    
  min-width: 25rem;
  padding: 10px;
  text-align: center;
  align-self: center;
  color: var(--scn-fn-crl);
 background-color: var(--sth-br-cl);
}

.grid-containereins > * p {
  font-size: 1rem;
}

.ablauf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw; 
  height: 100vh;
  font-size: 1rem; 
}

}